* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 1px 3px #00003828;
}

h2 {text-align: center; margin-bottom: 5vh; font-size: xx-large; text-shadow: 2px 1px 3px #a8a8fc;}


label {
    font-weight: bold;
    font-size: 17px;
}

input {
    width: 80%;
    padding: 12px;
    transition: .2s;
    border: 1px solid #000;
    cursor: pointer;
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 1px 2px 1px 1px #000;
}

form {
    border: 4px solid #000;
    padding: 60px;
    width: 50%;
    background-color: #4680b94d;
    box-shadow: 1px 2px 2px 1px #070792cb;
}

fieldset {
    margin-bottom: 12px;
    padding: 40px;
    border: 2px inset darkblue;
    background-image: linear-gradient(to right top, #0000ff62, #333392b4, #0000ff62) ;
    border-radius: 8px;
}

#data {
    width: 10vw;
    padding: 6px;
}
#cidade {
    padding: 5px;
    outline: none;
}

div #perguntas {
    display: flex;
    flex-wrap: wrap;
}
#perguntas {
    resize: none;
    margin-left: 1vw;
    transition: .2s;
    border: 1px solid #000;
    padding: 6px;
}

label[for="PDF"], #PDF {
    width: 23vw
}

label[for="terms"], #terms {
    margin-top: 40px;
}
#terms {
    transform: scale(1.5);
    box-shadow: none;
    width: 20%;
}

label, input, textarea {
    margin: 10px;
}

button {
    margin: 20px 0 0 10vw;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
    border: none;
}
button:hover {
    background-color: #0000ff8f;
    transform: scale(1.3);
    color: #f5f5f5;
} 