header {
    background-image: linear-gradient(to right, #6262fcc0 1%, #1d1dbd, #6262fc 99% );
    text-align: center;
    padding: 13px;
    font-size: 13px;
    letter-spacing: 2px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 3px black solid;
    border-radius: 0 0 8px 8px;
}

header a {
    color: rgb(66, 132, 207);
    font-weight: bolder;
    text-decoration: none;
}

#pageSelector {
    margin: 18px 0 12px 0;
    padding: 10px;
    width: 20%;
    background-color: #b2b2e6;
    border: 2px #030342 solid;
    outline: none;
    cursor: pointer;
}